@import '../../helpers.scss';

.Point {
  position: relative;
  margin: -1px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid transparent;
  
  &:after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #FFF;
    z-index: 10;
  }  

  &:hover:after {
    background-color: #D41;
  }

  &Direction {
    width: 3px;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1px;
    transform-origin: center 0;

    @for $i from 0 through 7 {
      &--#{pow(2, $i)} {
        transform: rotate(180deg - 45deg * $i);
      }
    }
  }

  &Ball {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: 3px solid #000;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
  }

  &Available {
    border-color: coral;
  }
}